{% extends 'base2.html.twig' %}

{% block body %}
    <h3 style="position: absolute;
    top: 12%;
    left: 15%;"><i class="fa fa-angle-right"></i> Demande de crédit</h3>
    <div id="surveyElement"></div>
        <div id="surveyResult"></div>

        <script type="text/javascript">

            var surveyValueChanged = function (sender, options) {
    var el = document.getElementById(options.name);
    if (el) {
        el.value = options.value;
    }
};

Survey
    .StylesManager
    .applyTheme("default");

Survey
    .StylesManager
    .applyTheme("default");

var json = {
    "pages": [
        {
            "name": "page1",
            "elements": [
               {
                "type": "html",
                "name": "info",
                "html": "<table><body><tr><td><img src='{{ asset('img/image1.png') }}' id='img1'></td></tr><tr><td><img src='{{ asset('img/image.png') }}' id='img2'></td></tr></body></table>"
               } 
            ]
        }, {
            "name": "page2",
            "elements": [
        {
            "type": "imagepicker",
            "name": "objet_credit",
            "title": "Objet du crédit ?",
            "choices": [
                {
                    "value": "auto",
                    "imageLink": "{{ asset('img/car.png') }}"
                }, {
                    "value": "immobilier",
                    "imageLink": "{{ asset('img/house.png') }}"
                }, {
                    "value": "personnel",
                    "imageLink": "{{ asset('img/money.png') }}"
                },
                {
                    "value": "autre",
                    "imageLink": "{{ asset('img/other.png') }}"
                }
            ]
        },
        
          {
                name: "nom",
                type: "text",
                title: "Saisir votre nom:",
                placeHolder: "votre nom ici...",
                },
                 {
                name: "prenom",
                type: "text",
                title: "Saisir votre prenom:",
                placeHolder: "votre prenom ici...",
                },
                {
                name: "birthdate",
                type: "text",
                inputType: "date",
                title: "Votre Date de Naissance:",
                },
                {
                name: "tel",
                type: "text",
                title: "Saisir votre N° de téléphone:",
                placeHolder: "votre num ici...",
                },
                {
                name: "adress",
                type: "text",
                title: "Saisir votre adresse:",
                placeHolder: "votre adresse ici...",
                },
            ]
        }, {
            "name": "page3",
            "elements": [
                {
            "type": "bootstrapslider",
            "name": "Mantant Solicité",
            "step": 1000,
            "rangeMin": 1000,
            "rangeMax": 1200000
            },

             {
            "type": "bootstrapslider",
            "name": "Durée de remboursement",
            "step": 5,
            "rangeMin": 0,
            "rangeMax": 25
            },
            {
                name: "banque",
                type: "text",
                title: "Nom de votre banque:",
                placeHolder: "le nom ici...",
            },

            {
                name: "agence",
                type: "text",
                title: "Agence:",
                placeHolder: "lieu de l'agence ici...",
            },

            {
                name: "num_compte",
                type: "text",
                title: "N° de votre compte:",
                placeHolder: "...",
            },

            {
                type: "comment",
                name: "commentaire",
                title: "Exprimez vous !"
            },
               
            ]
        },
    ]
};

window.survey = new Survey.Model(json);

survey
    .onComplete
    .add(function (result) {
        /*document
            .querySelector('#surveyResult')
            .innerHTML = "result: " + JSON.stringify(result.data);*/
         $.ajax({
                    url: "{{ path('demandeCredit') }}",
                    type: "POST",
                    data: JSON.stringify(result.data),
                    contentType: "application/json",
                    success: function (data)
                    {
                        console.log('success');
                    }
                });
    });

$("#surveyElement").Survey({model: survey});

survey.locale = 'fr';

$("#surveyElement").Survey({model: survey, onValueChanged: surveyValueChanged});

        </script>
    
{% endblock %} 
    